.business_main_div{
  background-color: #0e0e0e;
}
.right_main_div {
  background-color: #0e0e0e;
  vertical-align: middle;
  display: inline-block;
  width: 45%;
  margin-left: 4%;
}
.left_main_div {
  display: inline-block;
  width: 50%;
  min-height: 100%;
  overflow: hidden;
  vertical-align: top;
}
.left_main_div img{
  background-size: cover;
  width: 100%;
  vertical-align: middle;
}
.right_main_div__header {
  background-color: #0e0e0e;
  margin-top: 19%;
  text-align: center;
}
.right_main_div__header_content {
  background-color: #0e0e0e;
  font-weight: 700;
  font-size: 2.5rem;
  text-align: left;
  margin: 0 auto;
  padding: 0 2%;
  width: 90%;
  line-height: 8vh;
  margin-bottom: 5%;
}
.right_main_div__header_content span {
  background-color: #0e0e0e;
  color: #d4ff1f;
}
.right_main_div__elements {
  background-color: #0e0e0e;
  margin: 0;
  margin-left: 6%;
  padding: 0 2%;
  list-style-type: none;
  font-size: 1.2rem;
  list-style-type: "✅";
  padding-inline-start: 2ch;
}

.right_main_div__element {
  background-color: #0e0e0e;
  padding-top: 5%;
  font-weight: 500;
  line-height: inherit;
  padding-left: 2%;
  vertical-align: top;
}

.right_main_div__buttons {
  background-color: #0e0e0e;
  margin: 0;
  padding: 0;
  padding-top: 7.5%;
}

.right_main_div__button {
  font-size: 1rem;
  background-color: #0e0e0e;
  padding: 1% 3.5%;
  margin: 0 7.5%;
  margin-right: 3%;
  border-radius: 6px;
  border: 1px solid white;
  font-weight: 600;
}
.right_main_div__button:first-child:hover{
  background: #d4ff1f;
  color: black;
}
.right_main_div__button:last-child:hover{
  background: black;
  color: white;
}
.highlighted {
  background: #d4ff1f;
  border: 1px solid #d4ff1f;
  color: black;
}

/* Divider Style */
.divider_main {
  /* height: 5vh; */
  padding: 2%;
  width: 100%;
  color: black;
  font-weight: 500;
  font-size: 1.5rem;
  background: #d4ff1f;
  border: 1px solid #d4ff1f;
  text-align: center;
}
.divider_main__icon {
  background: inherit;
  font-size: 5vh;
  display: inline-block;
  vertical-align: middle;
  margin-right: 4%;
}
.divider_main__content {
  color: black;
  background: inherit;
  display: inline-block;
  vertical-align: middle;
}
.divider_main__button {
  vertical-align: middle;
  margin-left: 4%;
  font-weight: 600;
  font-size: 1rem;
  padding: 0.25% 2%;
  line-height: 250%;
  letter-spacing: 0.01em;
  border-radius: 6px;
  border: 1px solid black;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.459);
}
.divider_main__button:hover{
  background:#d4ff1f ;
  color: black;
}
@media only screen and (max-width: 600px) {
  .left_main_div,
  .right_main_div,
  .divider_main {
    display: none;
  }
}

@media only screen and (max-width: 992px) {
  .left_main_div,
  .right_main_div,
  .divider_main {
    display: none;
  }
}
